.addToCartButton {
    background: rgb(239, 57, 147);
    background: linear-gradient(0deg, rgb(255, 0, 123) 10%, rgba(255, 255, 255, 1) 100%);
    font-size: 22px;
    padding: 10px 30px;
    text-align: center;
    color: white;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 71px;
}